body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section{
    background: linear-gradient(0deg, rgba(41,64,44,1) 0%, rgba(168,255,99,1) 100%);

	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


img{
    width: 300px;
}